    <footer>
        <div class="footer-content">
            <div>© <span id="year"></span> Behdad Keynejad</div>
            <div class="padding"></div>
            <div class="social">
                <a href="mailto:hi@behdaad.me" target="_blank"><img src="../assets/icons/mail.svg" alt="mail" /></a>
                <a href="https://www.linkedin.com/in/behdaad" target="_blank"><img src="../assets/icons/linkedin.svg" alt="linkedin" /></a>
                <a href="https://github.com/behdaad" target="_blank"><img src="../assets/icons/github.svg" alt="github" /></a>
            </div>
        </div>
        <a class="top-link" href="#top">
            <div class="arrow">
                <div></div>
                <div></div>
            </div>
            <div class="link">Top</div>
        </a>
    </footer>
