<!doctype html>
<html id="top" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="{{ themeColor }}" />
    <title>{{ pageTitle }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/works.css">
    <link rel="icon" type="image/png" href="../assets/favicon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.png">
</head>

<body class="{{ bodyClass }}">
