    <nav id="nav"{% if navClass %} class="{{ navClass }}"{% endif %}>
        <div class="nav-content">
            <div class="avatar">
                <a href="..">
                    <img src="../assets/memoji.png" alt="My Memoji" />
                </a>
            </div>
            <ul class="menu">
                <li><a href="..">Home</a></li>
                <li><a href="../about">About</a></li>
                <li><a href="../blog/">Blog</a></li>
                <li><a href="../resume/Behdad-Keynejad-Resume.pdf" target="_blank">Resume</a></li>
            </ul>
        </div>
    </nav>
